.position {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.slider {
    background-image: url(imagen/1.jpg);
    background-size: cover;
    height: 50%;
    width: 50%;
    border-radius: 20px;
    animation: animate 10s infinite;
}

@keyframes animate {
    20% {
        background-image: url(imagen/1.jpg);
        background-size: cover;
    }
    40% {
        background-image: url(imagen/2.jpg);
        background-size: cover;
    }
    60% {
        background-image: url(imagen/3.jpg);
        background-size: cover;
    }
    80% {
        background-image: url(imagen/4.jpg);
        background-size: cover;
    }
    100% {
        background-image: url(imagen/5.jpg);
        background-size: cover;
    }


}