*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
.article section img    {
    width: 300px;
    height: auto;
}

.article section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.boton nav {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.boton nav a {
    border: 3px solid #000;
    border-radius: 50%;
    display: block;
    margin: 10px;
    height: 50px;
    width: 50px;
}

.boton nav a:nth-child(1), .article #pagina-uno {
    background-color: #f4eeb4;
}

.boton nav a:nth-child(2), article #pagina-dos{
    background-color: #b4f4bd;
}

.boton nav a:nth-child(3), article #pagina-tres {
    background-color: #b4f4d3;
}

.boton nav a:nth-child(4), article #pagina-cuatro {
    background-color: #b4baf4;
}
.boton nav a:nth-child(5), article #pagina-cinco {
    background-color: #f4b4be;
}